sql_connection do
  adapter     "postgresql"
  host        "localhost"
  username    ""
  password    ""
  database    "wdm"
  batch_size  50000           # This is defaulted to 10000 but in case you want to make that smaller (on lower RAM machines)
end

mongodb_connection do
  host        "localhost"
  database    "wdm-raw-4"
end